.experience-container {
  position: relative;
  padding: 40px;
  margin-top: 150px;
  width: 80%;
  color: aliceblue;
  animation: fadeSlideIn 1.5s ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.experience-item {
  position: relative;
  width: 45%;
  padding: 20px;
  background: transparent;
  margin: 40px 0;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(99, 102, 241, 0.6);
}
.exp-right{
  text-align: left;
}
.exp-right p{
  font-size: 18px;
  line-height: 1.4;
}
.experience-item.left {
  left: 40%;
  text-align: center;
}

.timeline-line{
    position: absolute;
    background: linear-gradient(4deg, #00DBDE, #FC00FF);
    left: 30%;
    width: 4px;
    height: 100vh;
    box-shadow: 0 0 10px 2px #a78bfa;
    animation: fadeSlideIn 1.5s ease forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.timeline-line::before,
.timeline-line::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: linear-gradient(120deg, #00DBDE, #FC00FF);
  border: 3px solid #6c63ff;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation: pulseGlow 3s ease-in-out infinite;
}

.timeline-line::before {
  top: 0;
}
@keyframes pulseGlow {
  0%, 100% {
    box-shadow: 0 0 0px 2px #7c3aed;
  }
  50% {
    box-shadow: 0 0 10px 2px #a78bfa;
  }
}

@media (max-width: 600px){
  .timeline-line{
    height: 120vh;
  }
}
@media (min-width: 601px) and (max-width: 1024px){
  .timeline-line{
    height: 100vh;
  }
}

