.heading h2{
  color: aliceblue;
  margin-top: 150px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  transform: translateY(30px);
  animation: fadeSlideIn 1.5s ease forwards;
  animation-delay: 0.5s;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.rea{
  box-shadow: 0 0 20px rgba(99, 102, 241, 0.6);
  border-radius: 35%;
  background: linear-gradient(90deg, rgba(99, 102, 241, 0.6) 0%, #efefef00 70%);
  background-position: right bottom;
  background-size: 200% 100%;
  transition: background-position 0.4s ease;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  transform: translateY(30px);
  animation: fadeSlideIn 1.5s ease forwards;
  animation-delay: 0.5s;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  cursor: pointer;
}
.rea:hover{
  size: 100px;
  background-position: left bottom;
}
.rea p{
  font-size:  "Poppins", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  color: aliceblue;
  transform: translateY(30px);
  animation: fadeSlideIn 1.5s ease forwards;
  animation-delay: 0.5s;
}
.jav p{
  font-size:  "Poppins", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  color: aliceblue;
  transform: translateY(30px);
  animation: fadeSlideIn 1.5s ease forwards;
  animation-delay: 0.5s;
}
.jav {
  box-shadow: 0 0 20px rgba(99, 102, 241, 0.6);
  border-radius: 35%;
  background: linear-gradient(90deg, rgba(99, 102, 241, 0.6) 0%, #efefef00 70%);
  background-position: right bottom;
  background-size: 200% 100%;
  transition: background-position 0.4s ease;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  transform: translateY(30px);
  animation: fadeSlideIn 1.5s ease forwards;
  animation-delay: 0.5s;
  cursor: pointer;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.jav:hover{
  size: 100px;
  background-position: left bottom;
}
.dev{
  box-shadow: 0 0 20px rgba(99, 102, 241, 0.6);
  border-radius: 35%;
  background: linear-gradient(90deg, rgba(99, 102, 241, 0.6) 0%, #efefef00 70%);
  background-position: right bottom;
  background-size: 200% 100%;
  transition: background-position 0.4s ease;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  transform: translateY(30px);
  animation: fadeSlideIn 1.5s ease forwards;
  animation-delay: 0.5s;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  cursor: pointer;
}
.dev:hover{
  size: 100px;
  background-position: left bottom;
}
.dev p{
  font-size:  "Poppins", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  color: aliceblue;
  transform: translateY(30px);
  animation: fadeSlideIn 1.5s ease forwards;
  animation-delay: 0.5s;
}
.floating-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 20px;
  perspective: 500px;
  transform: translateY(30px);
  animation: fadeSlideIn 1.5s ease forwards;
  margin-bottom: 70px;
}

.logo {
  padding: 30px;
  width: 130px;
  height: 130px;
  transform-style: preserve-3d;
  animation: float3d 4s ease-in-out infinite;
  will-change: transform;
}

.react {
  animation-delay: 0s;
}
.java {
  animation-delay: 0.3s;
}
.git {
  animation-delay: 0.6s;
}

@keyframes float3d {
  0% {
    transform: translateY(0px) rotateY(0deg) rotateX(0deg);
  }
  25% {
    transform: translateY(-10px) rotateY(15deg) rotateX(5deg);
  }
  50% {
    transform: translateY(0px) rotateY(0deg) rotateX(0deg);
  }
  75% {
    transform: translateY(10px) rotateY(-15deg) rotateX(-5deg);
  }
  100% {
    transform: translateY(0px) rotateY(0deg) rotateX(0deg);
  }
}

@keyframes fadeSlideIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
  .floating-logos {
    flex-direction: column;
    align-items: center;
    gap: 30px; /* Adjust spacing between cards */
  }

  .rea,
  .jav,
  .dev {
    width: 42%;
    max-width: 300px; /* Optional limit */
    margin: 0 auto;
    margin-bottom: 20px; /* Consistent bottom spacing */
  }
}