.hero{
    color: aliceblue;
    margin-left: 70px;
    margin-top: 150px;
    display: flex;
}

.heading-line p{
  max-width: 610px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 55px;
    line-height: 1.1;
    transform: translateY(30px);
    animation: fadeSlideIn 1.5s ease forwards;
    animation-delay: 0.5s;
}

.shaping {
  font-size: 70px;
  font-weight: 600;
  margin: 0;
  background: linear-gradient(90deg, #00DBDE, #FC00FF);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeSlideIn 1.5s ease forwards;
}

.right{
  margin-left: 150px;
  padding-right: 70px;
    padding-top: 40px;
}
.circle{
    width: 250px;
    height: 250px;
    background: linear-gradient(45deg, #00DBDE, #FC00FF);
    border-radius: 50%;
    animation: pulseGlow 3s ease-in-out infinite;
}
@keyframes fadeSlideIn {
    from{
        opacity: 0;
    }
    to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulseGlow {
  0%, 100% {
    box-shadow: 0 0 10px 2px #7c3aed;
  }
  50% {
    box-shadow: 0 0 30px 6px #a78bfa;
  }
}
