.hero{
    color: aliceblue;
    margin-left: 70px;
    padding-top: 40px;
    line-height: 0px;
    display: flex;
}
.head h3{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 28px;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    transform: translateY(30px);
    animation: fadeSlideIn 1.5s ease forwards;
    animation-delay: 0.5s;
}
.head h2{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 56px;
    background: linear-gradient(90deg, #00DBDE, #FC00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.1;
    flex: 1;
    flex-direction: column;
    transform: translateY(30px);
    animation: fadeSlideIn 1.5s ease forwards;
    animation-delay: 0.5s;
}
.head p{
    flex-direction: column;
    max-width: 625px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    transform: translateY(30px);
    animation: fadeSlideIn 1.5s ease forwards;
    animation-delay: 0.5s;
}
.right{
    justify-content: center;
    width: 420px;
    padding-left: 210px;
    padding-top: 24px;
}
.circle{
    width: 250px;
    height: 250px;
    background: linear-gradient(45deg, #00DBDE, #FC00FF);
    border-radius: 50%;
    animation: pulseGlow 3s ease-in-out infinite;
}
@keyframes fadeSlideIn {
    from{
        opacity: 0;
    }
    to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulseGlow {
  0%, 100% {
    box-shadow: 0 0 10px 2px #7c3aed;
  }
  50% {
    box-shadow: 0 0 30px 6px #a78bfa;
  }
}
